In [18]:
import pandas as pd
from google.colab import files

In [2]:
df_1 = pd.read_csv("dataset1.csv")
df_1.head(3)
df_1.shape

,customer_id,date_of_purchase,total_amount_billed,payment_status,payment_method,promo_code,country_of_purchase
0,101,04/01/2021,100,paid,credit card,PROMO1,USA
1,102,04/02/2021,200,paid,bank transfer,PROMO2,USA
2,103,04/02/2021,50,overdue,credit card,NaN,UK

In [5]:
df_1.shape

(15, 7)

In [3]:
df_2 = pd.read_csv("dataset2.csv")
df_2.head(3)

,customer_id,date_of_payment,amount_paid,payment_method,payment_status,late_payment_fee,country_of_payment
0,101,04/01/2021,100,credit card,paid,0,USA
1,102,04/03/2021,200,bank transfer,paid,0,USA
2,103,04/03/2021,75,credit card,paid,10,UK

In [6]:
df_2.shape

(15, 7)

In [4]:
df_3 = pd.read_csv("dataset3.csv")
df_3.head(3)

,customer_id,date_of_refund,refund_amount,reason_for_refund,country_of_refund
0,101,04/03/2021,100,product not as described,USA
1,102,04/06/2021,200,defective product,USA
2,103,04/07/2021,75,change of mind,UK

In [7]:
df_3.shape

(15, 5)

In [ ]:
pd.merge(df_1, df_2,how='outer')

In [ ]:
df.to_csv('dataset4.csv')
files.download('dataset4.csv')

In [24]:
pip install psycopg2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.9/dist-packages (2.9.6)

In [22]:
!curl ipecho.net/plain

34.147.87.253

In [25]:
import psycopg2

In [ ]:
# Step 1: Reading the Data
data = pd.read_csv('dataset4.csv')
data.head(3)

In [ ]:
# Step 2: Transforming the Data
# check for missing and duplicated values
data.isnull()
duplicateRows = data[data.duplicated()]
duplicateRows

In [45]:
# Step 3: Establishing a Database Connection
conn = psycopg2.connect(
    host="34.30.1.51",
    database="project",
    user="postgres",
    password="Matako23@"
)

In [47]:
# Step 4: Creating the Database Schema
with conn.cursor() as cur:
    cur.execute("""
        CREATE TABLE IF NOT EXISTS call_records (
            customer_id SERIAL PRIMARY KEY,
            refund_amount INTEGER,
            country_of_purchase VARCHAR(50),
            country_of_payment VARCHAR(50)
        );
    """)
    conn.commit()

In [ ]:
# Step 5: Loading the Data
with conn.cursor() as cur:
    for index, row in data.iterrows():
        cur.execute("""
            INSERT INTO call_records (refund_amount, country_of_purchase, country_of_payment)
            VALUES (%s, %s, %s,);
        """, (row['refund_amount'], row['country_of_purchase'], row['country_of_payment']))
    conn.commit()